.todos {
  list-style-type: none;
  border: 2px solid green;
  
}

.test {
  // background-color: #222;
  display: flex;
  padding: 1rem;
  text-align: left;
  transition: background-color 0.2s;
  border: 2px solid red;

  &:hover {
    background-color: #333;
  }

  &:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  &:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  &:not(:last-child) {
    border-bottom: 2px solid #111;
  }

  span {
    flex-grow: 1;
  }

  button {
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    font-weight: bold;
    padding: 0 0 0 1rem;

    &.mark {
      color: hsl(180, 50%, 30%);
    }

    &.delete {
      color: #a00;
    }
  }
}

.todo.done {
  background-color: hsl(180, 50%, 20%);
  color: #aaa;

  span {
    text-decoration: line-through;
  }

  &:hover {
    background-color: hsl(180, 50%, 25%);
  }
}

.todo.input {
  input[type='text'] {
    background: none;
    border: none;
    color: inherit;
    flex-grow: 1;
  }

  button {
    display: none;

    &.visible {
      display: initial;
    }
  }
}